//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Sat 03 29 20:46:28 2025

IO_LOC "DEN" 48;
IO_PORT "DEN" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Pixel_Clock" 77;
IO_PORT "Pixel_Clock" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Hsync" 25;
IO_PORT "Hsync" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Vsync" 26;
IO_PORT "Vsync" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Blue[4]" 27;
IO_PORT "Blue[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Blue[3]" 28;
IO_PORT "Blue[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Blue[2]" 29;
IO_PORT "Blue[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Blue[1]" 30;
IO_PORT "Blue[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Blue[0]" 31;
IO_PORT "Blue[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[5]" 32;
IO_PORT "Green[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[4]" 33;
IO_PORT "Green[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[3]" 34;
IO_PORT "Green[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[2]" 35;
IO_PORT "Green[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[1]" 36;
IO_PORT "Green[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Green[0]" 37;
IO_PORT "Green[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Red[4]" 38;
IO_PORT "Red[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Red[3]" 39;
IO_PORT "Red[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Red[2]" 40;
IO_PORT "Red[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Red[1]" 41;
IO_PORT "Red[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Red[0]" 42;
IO_PORT "Red[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Clock" 4;
IO_PORT "Clock" PULL_MODE=UP BANK_VCCIO=1.8;
